@include block("facet-parent") {
  @include themeTypography;
  // fieldset reset
  margin: 0;
  padding: 0;
  border: 0;

  & + & {
    margin-top: $sizeS;
  }

  .sui-sorting + & {
    margin-top: $sizeL;
  }
  @include fieldSetMixin()

}


@include block("facet-child") {
  @include themeTypography;

  // display: none;
  margin: -6px 0 3px 16px;
  padding: 0;  
  border-left: 1px dashed lightgray;
  border-bottom: 1px dashed lightgray;
  border-style: none none dashed dashed;
  border-radius: 5px;

  & + & {
    margin-top: $sizeXL;
  }

  .sui-sorting + & {
    margin-top: $sizeXL;
  }
  @include fieldSetMixin()

}