@include block("multi-checkbox-facet") {
  color: $facetLinkColor;
  font-size: 13px;
  margin: 8px 0 0 0 ;

  @include element("option-label-parent") {
    // display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
    font-size: smaller;
    // font-weight:bold;
    // color: #8b9bad;
  }

  @include element("option-label-child") {
    // display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: column;
    font-size: smaller;
    align-items: flex-start;
  }


  @include element("option-input-wrapper") {
    flex: 1;
    justify-content: space-between;
    display: flex;    
  }

  @include element("option-input-wrapper-left") {
    display: flex;    
  }

  @include element("checkbox") {
    display: 'inline-block';
    margin-right: $sizeS;
    margin-left:10px;
    margin-top: 1px;
    cursor: pointer;
  }

  @include element("option-count") {
    color: #888888;
    font-size: 0.85em;
    margin-left: $sizeL;
  }

  @include element("has-children") {    
    margin: 0;
    padding: 0;
    position: absolute;
    font-weight: bolder;
  }
}

@include block("facet-view-more") {
  display: block;
  cursor: pointer;
  color: $linkColor;
  font-size: 13px;

  // Button reset
  font-family: inherit;
  line-height: inherit;
  text-align: left;
  border: unset;
  padding: unset;
  background: unset;

  &:hover,
  &:focus {
    background-color: $facetSelectBackground;
    outline: $sizeXS solid $facetSelectBackground;
  }
}

@include block("facet-search") {
  margin: 6px 0px 0px 0px;

  @include element("text-input") {
    width: 100%;
    height: 100%;
    padding: 6px;
    margin: 0;
    font-family: inherit;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;

    &:focus {
      border: 1px solid $linkColor;
    }
  }
}
